<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Anonymous Pro' rel='stylesheet'>
<style>
b {
	border: 2px solid powderblue;
	font-family: 'Anonymous Pro';
	font-size: 190%;
	text-align:center;
	border-style: outset;
	margin: 100px 75px 40px 100px;
	background-color: red;
	padding: 20px;
}
body {
	background-image: url('https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/reference_guide/type_1_warning_signs_ref_guide/493x335_type_1_warning_signs_ref_guide.jpg?resize=493:*');
}
</style>
</head>


<body>
	<br /><br /><br />
	<br /><br /><br />
	<br /><br /><br />
	<br /><br /><br />
	<br /><br />
	<br /><br />
<b>
	Please go to the doctor for medical attention, <em>you are prone to diabetes</em> :( 

</b>
</body>
</html>
